*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

.header-body {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-nav {
  width: 65%;
}

.header-user {
  width: 25%;
}

.header-nav-brand {
  width: 15%;
}

.header-nav-nav {
  width: 85%;
}

/** modified by emmanuel */
.header-nav-logo {
  /* width: 30px; */
  width: 89px;
  height: 26px;
  cursor: pointer;
}

.header-user-log {
  width: 61%;
}

.header-user-icon {
  width: 39%;
}

.coin-img {
  height: 1.3rem;
}


.showcase-btn {
  width: 30%;
  border-radius: 50px;
}

.img-slider {
  overflow-x: scroll;
}

.slider-body {
  display: flex;
  width: fit-content;
}

.img-container {
  flex: 0 0 auto;
  margin-right: 30px;
}

.img-container img {
  width: 25rem;
}

.toggle-btn {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-nav-nav {
    display: none;
  }

  .header-user-p {
    display: none !important;
  }

  .toggle-btn {
    display: block;
  }

  .header-nav-nav.show-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
  }

  .showcase {
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  .showcase-img {
    width: 100px;
  }
}

/*
 * Added by @Emmanuel
 * https://github.com/towoju5
 */

.huobi {
  font-size: 53px;
  line-height: 78px;
  font-family: montserrat-black, roboto, pingfang sc;
  font-weight: 900;
  color: var(--text-1);
}

.menu {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
}

.sliddy {
  width: 300px;
}

.menu-item {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  cursor: pointer;
}


.hbg-trigger-triangle {
  width: 14px;
  height: 14px;
  background: url('/asset/dropdown.svg'); no-repeat center center;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear,-webkit-transform .2s linear;
}

.submenu {
  display: none;
}

.hbg-dropdown-v2__body {
  position: absolute;
  margin-top: 1.6rem;
  background-color: #20222b;
  padding: 2rem 1.4rem;
  height: auto;
  overflow-y: auto;
}

.hbg-dropdown-v2__body-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 16px 24px 16px 0px;
  height: 80px;
}

.hbg-dropdown-v2__body-item-icon {
  width: 40px;
  padding-right: 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.hbg-dropdown-v2__body-item-subtitle {
  font-size: 12px;
  line-height: 14px;
  color: var(--hbg-header-main-txtcolor);
  opacity: .5;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.hbg-dropdown-v2__body-item-title {
  font-size: 14px;
  line-height: 16px;
  color: var(--hbg-header-main-txtcolor);
  margin-bottom: 4px;
  text-align-last: left;
}